<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="jumbotron">Welcome MR. <%- userData.firstName %> </h1>
        <a href="/logout" class="btn btn-danger my-2 my-lg-0">Log out</a>
        <h2 class="pb-2 mt-4 mb-2 border-bottom">
            Up Coming Events
        </h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Date</th>
                    <th scope="col">Decline</th>
                </tr>
            </thead>
            <tbody>
                <% eventsData.forEach( (event , i) => { %>
                    <% if(event.mainSpeaker == userData._id) { %>
                        <tr>
                            <th> <%= i + 1 %> </th>
                            <td> <%= event.title %>  </td>
                            <td> Main Speaker </td>
                            <td> <%- moment(event.eventDate).utc().format('YYYY-MM-DD') %>  </td>
                            <td><a href="/speaker/decline" class="btn btn-danger">Decline</a></td>
                        </tr>
                    <% } else if(event.otherSpeakers.includes(userData._id)) { %>
                        <tr>
                            <th> <%= i + 1 %> </th>
                            <td> <%= event.title %> </td>
                            <td> Secondary Speaker </td>
                            <td> <%- moment(event.eventDate).utc().format('YYYY-MM-DD') %></td>
                            <!-- handle the a behaviour using ajax call -->
                            <td><a href="/speaker/decline" class="btn btn-danger">Decline</a></td>
                        </tr>
                    <% } %>
                <% }) %>
        </table>
    </div>

    <%- include("../scripts") %>
</body>

</html>